<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
     integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light navbar-static-top">
      <div class="container">
        <ul class="nav nav-pills">
          <li class="nav-item"> <a class="navbar-brand" href="{% url 'home' %}">Home</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'index'%}"> Index</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'admin:index'%}"> Admin</a></li>
          {% if user.is_authenticated %}
             <li class="nav-item"><a class="nav-link"href="{url 'user_logout'}"> Logout</a></li>
          {% else %}
             <li class="nav-item"><a class="nav-link" href="{% url 'user_login' %}">Login</a></li>
          {% endif %}
        </ul>
      </div>

    </nav>

    {% block body_block %}
    {% endblock %}

  </body>
</html>
